*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
}
.card{
    width: 700px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,0.6456456456456456) 0%, rgba(255,9,131,1) 43%);
    padding: 20px;
    margin: 20px;
    line-height: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
::-webkit-scrollbar {
    background-color: transparent;
    width:15px;
    
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;

background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,203,242,0.6456456456456456) 0%, rgba(48,15,32,1) 100%);

}